.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}

.Login h2 {
    color: green;
}

.Login input[type="email"] {
    height: 45px;
    width: 350px;
    border: transparent;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.Login input[type="text"] {
    height: 45px;
    width: 350px;
    border: transparent;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.Login input[type="submit"] {
    width: 160px;
    height: 33px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: transparent;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.oublie p {
    color:black;
    font-weight: 700;
}

.erreur p {
    font-weight: 900;
    font-size: larger;
    border: solid red 2px;
    padding: 10px;
}

.erreur h3 {
    font-weight: 900;
    font-size: larger;
    border: solid green 2px;
    padding: 10px;
}

.email {
    margin-top: 20px;
}

.email p {
    margin-bottom: 5px
}

.mdp p {
    margin-bottom: 5px;
}

footer {
    margin-top: 390px;
}
